@page "/View/{ListingId:guid}/{IsFavourite:bool}"
@using System.Globalization
@using WebAssemblyClient.ApiService
@using WebAssemblyClient.Components.Dialogs
@using WebAssemblyClient.Extensions
@inject HostAuthenticationStateProvider AuthStateProvider
@inject FavouritesApiService FavouritesApiService
@inject ListingApiService ListingApiService
@inject BookingApiService BookingApiService
@inject OfferApiService OfferApiService
@inject AuthApiService AuthApiService
@inject IDialogService DialogService
@inject IToastService ToastService
@inject IJSRuntime JsRuntime
@implements IAsyncDisposable

@if (_listing == null)
{
    <FluentGrid Style="margin: 1rem 3rem;">
        <FluentGridItem xs="12" md="7">
            <FluentSkeleton Shape="SkeletonShape.Rect" Fill="true" Width="100%" Height="200px" Visible="true"/>
        </FluentGridItem>
        
        <FluentGridItem xs="12" md="5">
            <FluentSkeleton Shape="SkeletonShape.Rect" Fill="true" Width="100%" Height="200px" Visible="true"/>
        </FluentGridItem>
        
        <FluentGridItem xs="12" md="7">
            <FluentCard>
                <FluentSkeleton Shape="SkeletonShape.Rect" Fill="true" Width="100%" Height="200px" Visible="true"/>
            </FluentCard>        
        </FluentGridItem>
        
        <FluentGridItem xs="12" md="5">
            <FluentCard>
                <FluentSkeleton Shape="SkeletonShape.Rect" Fill="true" Width="100%" Height="200px" Visible="true"/>
            </FluentCard> 
        </FluentGridItem>
        
        <FluentGridItem xs="12" md="5">
            <FluentCard>
                <FluentSkeleton Shape="SkeletonShape.Rect" Fill="true" Width="100%" Height="200px" Visible="true"/>
            </FluentCard>
        </FluentGridItem>
        
        <FluentGridItem xs="12" md="7">
            <FluentCard>
                <FluentSkeleton Shape="SkeletonShape.Rect" Fill="true" Width="100%" Height="200px" Visible="true"/>
            </FluentCard>
        </FluentGridItem>
    </FluentGrid>
}
else
{
    <FluentGrid Style="margin: 1rem 3rem;">
        <FluentGridItem xs="12" md="7">
            <div style="position: relative; width: 100%;">
                <img src="@GetCurrentImageUrl()" 
                     alt="ListingImage" 
                     style="object-fit: cover; aspect-ratio: 16/9; width: 100%">
                
                <AuthorizeView>
                    <Authorized>
                        <div style="position: absolute; top: 12px; right: 12px; z-index: 10;">
                            @if (!IsFavourite)
                            {
                                <FluentIcon Value="@(new Icons.Regular.Size24.Heart())" 
                                            Color="Color.Neutral"
                                            OnClick="@(() => AddToFavourites(ListingId, true))"
                                            Style="cursor: pointer;" />
                            }
                            else
                            {
                                <FluentIcon Value="@(new Icons.Filled.Size24.Heart())" 
                                            Color="Color.Error"
                                            OnClick="@(() => AddToFavourites(ListingId, false))"
                                            Style="cursor: pointer;" />
                            }
                        </div>
                    </Authorized>
                </AuthorizeView>
                
                @if (GetAllImages().Count > 1)
                {
                    <div style="position: absolute; top: 50%; width: 100%; display: flex; justify-content: space-between; transform: translateY(-50%); padding: 0 10px;">
                        <FluentButton Appearance="Appearance.Stealth" 
                                      OnClick="PrevImage" 
                                      Style="border-radius: 50%; min-width: 40px; height: 40px;">
                            <FluentIcon Value="@(new Icons.Regular.Size24.ChevronLeft())" />
                        </FluentButton>

                        <FluentButton Appearance="Appearance.Stealth" 
                                      OnClick="NextImage" 
                                      Style="border-radius: 50%; min-width: 40px; height: 40px;">
                            <FluentIcon Value="@(new Icons.Regular.Size24.ChevronRight())" />
                        </FluentButton>
                    </div>

                    <div style="position: absolute; bottom: 15px; width: 100%; display: flex; justify-content: center; gap: 8px;">
                        @for (int i = 0; i < GetAllImages().Count; i++)
                        {
                            <div style="width: 10px; height: 10px; border-radius: 50%;background: @(_currentImage == i ? "red" : "grey");"></div>
                        }
                    </div>
                }
            </div>
        </FluentGridItem>
        
        <FluentGridItem xs="12" md="5">
            <FluentCard>
                <FluentStack Orientation="Orientation.Vertical" Style="height: 100%; width: 100%">
                    <FluentLabel Typo="Typography.H4">Caratteristiche</FluentLabel>
                    <FluentStack Orientation="Orientation.Horizontal" Style="width: 100%; height: 100%; justify-content: space-between;">
                        <FluentStack Orientation="Orientation.Vertical" Style="flex-grow: 1; justify-content: space-between">
                            <FluentLabel Typo="Typography.H5"> Quadratura</FluentLabel>
                            <FluentLabel Typo="Typography.H5"> Classe energetica</FluentLabel>
                            <FluentLabel Typo="Typography.H5"> Camere da letto</FluentLabel>
                            <FluentLabel Typo="Typography.H5"> Piano </FluentLabel>
                            <FluentLabel Typo="Typography.H5"> Ascensore </FluentLabel>
                            <FluentLabel Typo="Typography.H5"> Riscaldamento </FluentLabel>
                        </FluentStack>

                        <FluentStack Orientation="Orientation.Vertical" Style="flex-grow: 1; justify-content: space-between">
                            <FluentLabel Typo="Typography.H5">@_listing.Dimensions Mq</FluentLabel>
                            <FluentLabel Typo="Typography.H5">@_listing.EnergyClass </FluentLabel>
                            <FluentLabel Typo="Typography.H5">@_listing.Rooms </FluentLabel>
                            <FluentLabel Typo="Typography.H5"> @_listing.Floor </FluentLabel>
                            <FluentLabel Typo="Typography.H5"> @(_listing.Elevator ? "Si" : "No") </FluentLabel>
                            <FluentLabel Typo="Typography.H5"> No </FluentLabel>
                        </FluentStack>
                    </FluentStack>
                </FluentStack>
            </FluentCard>
        </FluentGridItem>
        
        <FluentGridItem xs="12" md="7">
            <div id="viewMap" style="height: 300px; width: 100% ;border-color: black; border-width: 3px; border-radius: 10px; z-index: 0;"></div>
        </FluentGridItem>
        
        <FluentGridItem xs="12" md="5">
            <FluentCard>
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
                    <FluentLabel Typo="Typography.H4"> Costi e contatti </FluentLabel>
                    
                    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="0">
                        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="3">
                            <FluentIcon Value="@(new Icons.Regular.Size24.Money())" Color="Color.Neutral"/>
                            <FluentLabel Typo="Typography.H6">Prezzo: </FluentLabel>
                            <FluentBadge BackgroundColor="black" Circular="true">@_listing.Price.ToString("C", new CultureInfo("it-IT"))</FluentBadge>
                        </FluentStack>
                        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="3">
                            <FluentIcon Value="@(new Icons.Regular.Size24.Building())" Color="Color.Neutral"/>
                            <FluentLabel Typo="Typography.H6">Disponibile: </FluentLabel>
                            <FluentBadge Circular="true" Appearance=@(_listing.Available ? Appearance.Neutral : Appearance.Accent )>@(_listing.Available ? "Si" : "No")</FluentBadge>
                        </FluentStack>
                    </FluentStack>
                    
                    <FluentStack Orientation="Orientation.Vertical" VerticalGap="5">
                        <FluentLabel Typo="Typography.H4"> Agente immobiliare </FluentLabel>
                        
                        <FluentCard>
                            <FluentStack VerticalAlignment="VerticalAlignment.Center">
                                <div style=" background-color: red;
                                    width: 48px; 
                                    height: 48px; 
                                    border-radius: 50%; 
                                    display: flex; 
                                    align-items: center; 
                                    justify-content: center; 
                                    font-weight: bold;
                                    flex-shrink: 0;">
                                    @_listing.Agent.FirstName[0]@_listing.Agent.LastName[0]
                                </div>
                                <FluentStack Orientation="Orientation.Vertical">
                                    <FluentLabel Typo="Typography.H6">@_listing.Agent.FirstName @_listing.Agent.LastName</FluentLabel>
                                    <FluentLabel Typo="Typography.H6">@_listing.Agent.Email</FluentLabel>
                                </FluentStack>
                            </FluentStack>
                        </FluentCard>
                        <AuthorizeView>
                            <Authorized>
                                <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Edit())" Disabled="@(!_listing.Available || _makeOffer || !context.User.IsInRole("Client"))" Style="width: 100%"
                                              OnClick="OpenMakeOfferDialog">
                                    Fai un'offerta
                                </FluentButton>
                                <FluentButton Appearance="Appearance.Neutral" IconStart="@(new Icons.Regular.Size20.Calendar())" Disabled="@(!_listing.Available || _makeBooking || !context.User.IsInRole("Client"))" Style="width: 100%"
                                              OnClick="OpenMakeBookingDialog">
                                    Prenota un appuntamento
                                </FluentButton>
                            </Authorized>
                        </AuthorizeView>
                    </FluentStack>
                </FluentStack>
            </FluentCard>
        </FluentGridItem>

        <FluentGridItem xs="12" md="5">
            <FluentCard>
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
                    <FluentLabel Typo="Typography.H4">Servizi nelle vicinanze</FluentLabel>
                    @{
                        var servicesPerTag = _listing.Tags
                            .Select(tag => new {
                                TagName = tag.Name,
                                Services = _listing.Services.Where(s => s.Type.Equals(tag.Name)).ToList()
                            })
                            .Where(tag => tag.Services.Any());
                    }

                    @foreach (var tag in servicesPerTag)
                    {
                        <div style="margin-bottom: 10px;">
                            <FluentLabel Typo="Typography.H5" Style=" margin-bottom: 8px; text-transform: capitalize;">
                                @tag.TagName
                            </FluentLabel>

                            <FluentStack Orientation="Orientation.Vertical" VerticalGap="4">
                                @foreach (var service in tag.Services)
                                {
                                    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
                                        <FluentLabel Typo="Typography.Body">@service.Name</FluentLabel>
                                        <FluentLabel Typo="Typography.Body">
                                            @((int)service.Distance) m
                                        </FluentLabel>
                                    </FluentStack>
                                }
                            </FluentStack>
                        </div>
                    }
                    @if (!_listing.Tags.Any())
                    {
                        <FluentLabel Typo="Typography.Body" Style="font-style: italic;">
                            Nessun servizio catalogato trovato nelle vicinanze.
                        </FluentLabel>
                    }
                </FluentStack>
            </FluentCard>
        </FluentGridItem>

        <FluentGridItem xs="12" md="7">
            <FluentCard>
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
                    <FluentLabel Typo="Typography.H3">Descrizione</FluentLabel>
                    <FluentLabel Typo="Typography.Body">@_listing.Description</FluentLabel>
                </FluentStack>
            </FluentCard>
        </FluentGridItem>
    </FluentGrid>
}
@code {
    [Parameter] public Guid ListingId { get; set; }
    [Parameter] public bool IsFavourite { get; set; }

    ListingResponseDto? _listing;
    private bool _showAll;
    private bool _makeOffer;
    private bool _makeBooking;
    private IJSObjectReference? _jsModule;
    private bool _isInitialized;
    private int _currentImage;
    
    protected override async Task OnInitializedAsync()
    {
        _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/ViewListing.js");

        var user = await AuthStateProvider.GetAuthenticationStateAsync();
        var userId = user.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value ?? "";
        
        var shouldIncreaseViews = await JsRuntime.InvokeAsync<bool>("shouldUpdateView", userId, ListingId.ToString());
        if (shouldIncreaseViews)
        {
            await ListingApiService.IncrementListingViews(ListingId);
        }
        
        _listing = await ListingApiService.GetListingByIdAsync(ListingId);
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_listing != null && !_isInitialized)
        {
            _isInitialized = true; 
        
            try 
            {
                _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/ViewListing.js");
            
                await Task.Delay(100); 

                await _jsModule.InvokeVoidAsync("setupMap", "viewMap", _listing.Latitude, _listing.Longitude);
            
                if (_listing.Services.Any())
                {
                    await _jsModule.InvokeVoidAsync("addMarker", "viewMap", _listing.Services);
                }
            }
            catch (Exception ex)
            {
                _isInitialized = false;
                Console.WriteLine($"Map Error: {ex.Message}");
            }
        }
    }

    private async Task OpenMakeOfferDialog()
    {
        var user = await AuthStateProvider.GetAuthenticationStateAsync();
        var userId = user.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        
        if (userId == null)
        {
            OpenLoginDialogAsync();
            return;
        }
            
            
        OfferRequestDto offerRequest = new()
        {
            AgentId = _listing.Agent.Id,
            ListingId =_listing.Id,
            CustomerId = Guid.Parse(userId),
            Value = 0
        };

        DialogParameters offerParameters = new()
        {
            Title = "Fai un'offerta",
            TitleTypo = Typography.H2,
            PrimaryAction = "Invia",
            SecondaryAction = "Annulla",
            Width = "500px",
            PreventScroll = true 
        };
        offerParameters.Add("Name", _listing.Name);
        offerParameters.Add("Address", _listing.Address);
        offerParameters.Add("Price", _listing.Price);

        IDialogReference offerDialog = await DialogService.ShowDialogAsync<MakeOfferDialog>(offerRequest, offerParameters);
        DialogResult offerResult = await offerDialog.Result;

        if (offerResult.Data is not null && !offerResult.Cancelled)
        {
            OfferRequestDto? _offer = offerResult.Data as OfferRequestDto;
            if (_offer.Value <= 0 || _offer.Value > _listing.Price)
            {
                ToastService.ShowWarning("Valore dell'offerta non valido!");
                return;
            }
            await OfferApiService.PostOfferAsync(_offer);
            ToastService.ShowSuccess("Offerta inviata con successo!");
        }
    }
    
    private async Task OpenMakeBookingDialog()
    {
        
        var user = await AuthStateProvider.GetAuthenticationStateAsync();
        var userId = user.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        if (userId == null) return;

        BookingRequestDto bookingRequest = new()
        {
            AgentId = _listing.Agent.Id,
            ListingId =_listing.Id, 
            ClientId = Guid.Parse(userId), 
            DateCreation = DateTime.Now, 
            DateMeeting = DateTime.Now
        };

        DialogParameters offerParameters = new()
        {
            Title = "Prenota un appuntamento",
            TitleTypo = Typography.H2,
            PrimaryAction = "Invia",
            SecondaryAction = "Annulla",
            Width = "500px",
            PreventScroll = true 
        };
        offerParameters.Add("Name", _listing.Name);
        offerParameters.Add("Address", _listing.Address);
        offerParameters.Add("Price", _listing.Price);

        IDialogReference bookingDialog = await DialogService.ShowDialogAsync<MakeBookingDialog>(bookingRequest, offerParameters);
        DialogResult bookingResult = await bookingDialog.Result;

        if (bookingResult.Data is not null && !bookingResult.Cancelled)
        {
            BookingRequestDto? _booking = bookingResult.Data as BookingRequestDto;
            await BookingApiService.PostBookingAsync(_booking);
            ToastService.ShowSuccess("Prenotazione inviata con successo!");
        }
    }
    
    public async ValueTask DisposeAsync()
    {
        if (_jsModule is not null)
        {
            try 
            {
                await _jsModule.InvokeAsync<bool>("clearExistingMap", "viewMap");
                await _jsModule.DisposeAsync();
            } catch (JSDisconnectedException) 
            {
                
            }
        }
    }
    
    private async Task OpenLoginDialogAsync()
    {
        LoginRequestDto loginUser = new() { Email = "", Password = "" };

        DialogParameters loginParameters = new()
        {
            Title = "Accedi",
            TitleTypo = Typography.H2,
            PrimaryAction = "Accedi",
            SecondaryAction = "Annulla",
            Width = "500px",
            PreventScroll = true
        };

        IDialogReference loginDialog = await DialogService.ShowDialogAsync<LoginDialog>(loginUser, loginParameters);
        DialogResult loginResult = await loginDialog.Result;

        if (loginResult.Data is not null && !loginResult.Cancelled)
        {
            if (loginResult.Data is UserRequestDto)
            {
                await OpenRegisterDialogAsync();
            }
            else
            {
                LoginRequestDto? loginRequest = loginResult.Data as LoginRequestDto;
                
                var response = await AuthApiService.Login(loginRequest);
                
                if (response != null)
                {
                    AuthStateProvider.NotifyAuthenticationStateChanged();
                }
            }
        }
    }

    private async Task OpenRegisterDialogAsync()
    {

        UserRequestDto registerUser = new()
        {
            FirstName = "",
            LastName = "",
            Email = "",
            Password = ""
        };

        DialogParameters registerParameters = new()
        {
            Title = "Registrati",
            TitleTypo = Typography.H2,
            Width = "500px",
            PreventScroll = true
        };

        IDialogReference registerDialog = await DialogService.ShowDialogAsync<RegisterDialog>(registerUser, registerParameters);
        DialogResult registerResult = await registerDialog.Result;

        if (registerResult.Data is not null && !registerResult.Cancelled)
        {
            UserRequestDto? registerRequest = registerResult.Data as UserRequestDto;
            await AuthApiService.Register(registerRequest);
            ToastService.ShowSuccess("Registrazione effettuata con successo!");
        }
    }
    
   
    private List<string> GetAllImages()
    {
        var images = new List<string> { _listing.FeaturedImage };
        if (_listing.Images != null)
        {
            images.AddRange(_listing.Images.Select(img => img.Url));
        }
        return images;
    }

    private string GetCurrentImageUrl()
    {
        var allImages = GetAllImages();
        if (_currentImage >= allImages.Count) _currentImage = 0;
        return allImages[_currentImage];
    }

    private void NextImage()
    {
        var count = GetAllImages().Count;
        _currentImage = (_currentImage + 1) % count;
    }

    private void PrevImage()
    {
        var count = GetAllImages().Count;
        _currentImage = (_currentImage - 1 + count) % count;
    }
    
    private async Task AddToFavourites(Guid listingId, bool favourite)
    {
        if (favourite)
        {
            await FavouritesApiService.CreateFavouriteAsync(listingId);
            IsFavourite = true;
        }
        else
        {
            await FavouritesApiService.RemoveFavouriteAsync(listingId);
            IsFavourite = false;
        }

    }
}
