@using System.Globalization
@using WebAssemblyClient.ApiService
@using WebAssemblyClient.Data.Common
@using WebAssemblyClient.Extensions

@inject HostAuthenticationStateProvider AuthStateProvider
@inject ListingApiService ListingApiService
@inject BookingApiService BookingApiService
@inject OfferApiService OfferApiService
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime

@page "/agent/dashboard"

<FluentGrid Spacing="2" Style="margin: 1rem 3rem;">
  <FluentGridItem xs="12" sm="12" md="8">
    
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="20">
      <FluentGrid Style="width: 100%;">
        <FluentGridItem xs="12" sm="4" md="4">
          <DashboardInfoCard Title="Inserzioni"
                             LeftInfo="Vendita" RightInfo="Affitto"
                             LeftNumber="@(_listingCounters?.ForSaleCount ?? 0)" 
                             RightNumber="@(_listingCounters?.ForSaleCount ?? 0)"/>
        </FluentGridItem>
        <FluentGridItem xs="12" sm="4" md="4">
          <DashboardInfoCard Title="Offerte"
                             LeftInfo="Totali" RightInfo="Attesa"
                             LeftNumber="@(_offersCounters?.TotalOffers ?? 0)"  
                             RightNumber="@(_offersCounters?.PendingOffers ?? 0)"/>
        </FluentGridItem>
        <FluentGridItem xs="12" sm="4" md="4">
          <DashboardInfoCard Title="Prenotazioni"
                             LeftInfo="Prossime" RightInfo="Attesa"
                             LeftNumber="@(_bookingCounters?.ScheduledBookings ?? 0)" 
                             RightNumber="@(_bookingCounters?.PendingBookings ?? 0)"/>
        </FluentGridItem>
      </FluentGrid>  
      
      <FluentCard>
        <FluentTabs Size="TabSize.Medium">

          <FluentTab Label="Inserzioni" Id="tab-listings">
            <PagedDataGrid @ref="_listingGrid"
                           TItem="ListingResponseDto"
                           DataProvider="GetListingData"
                           PageSize="10"
                           OnRowClick="OnListingRowClick">
              <GridColumns>
                <PropertyColumn Title="Nome" Property="@((ListingResponseDto l) => l.Name)"/>
                <PropertyColumn Title="Tipologia" Property="@((ListingResponseDto l) => l.Type.Name)"/>
                <PropertyColumn Title="Prezzo" Property="@((ListingResponseDto l) => l.Price.ToString("C", new CultureInfo("it-IT")))"/>
                <TemplateColumn Title="Disponibilità" TGridItem="ListingResponseDto">
                  <FluentBadge Appearance="@(context.Available ? Appearance.Neutral : Appearance.Accent)" Circular="true">
                    @(context.Available ? "Disponibile" : "Occupata")
                  </FluentBadge>
                </TemplateColumn>
              </GridColumns>
            </PagedDataGrid>

          </FluentTab>
          <FluentTab Label="Offerte" Id="tab-offers">

            <PagedDataGrid @ref="_offerGrid"
                           TItem="OfferResponseDto"
                           DataProvider="GetOfferData"
                           PageSize="10"
                           OnRowClick="OnOfferRowClick">
              <GridColumns>
                <PropertyColumn Title="Cliente" Property="@((OfferResponseDto o) => o.CustomerName + " " + o.CustomerLastName)"/>
                <PropertyColumn Title="Contatto" Property="@((OfferResponseDto o) => o.CustomerEmail)"/>
                <PropertyColumn Title="Immobile" Property="@((OfferResponseDto o) => o.ListingName)"/>
                <PropertyColumn Title="Data" Property="@((OfferResponseDto o) => o.Date.ToString("dd/MM/yyyy"))"/>
                <PropertyColumn Title="Valore" Property="@((OfferResponseDto o) => o.Value.ToString("C", new CultureInfo("it-IT")))"/>
                <TemplateColumn Title="Stato" TGridItem="OfferResponseDto">
                  <FluentBadge Appearance=@(context.Status == OfferStatus.Pending ? Appearance.Neutral : Appearance.Accent) Circular="true">@(context.Status.ToString())</FluentBadge>
                </TemplateColumn>
                </GridColumns>
            </PagedDataGrid>

          </FluentTab>
          <FluentTab Label="Prenotazioni" Id="tab-bookings">
            
            <PagedDataGrid @ref="_bookingGrid"
                           TItem="BookingResponseDto"
                           DataProvider="GetBookingData"
                           PageSize="10"
                           OnRowClick="OnBookingrRowClick">
              <GridColumns>
                <PropertyColumn Title="Cliente" Property="@((BookingResponseDto b) => b.CustomerName + " " + b.CustomerLastName)"/>
                <PropertyColumn Title="Contatto" Property="@((BookingResponseDto b) => b.CustomerEmail)"/>
                <PropertyColumn Title="Immobile" Property="@((BookingResponseDto b) => b.ListingName)"/>
                <PropertyColumn Title="Data" Property="@((BookingResponseDto b) => b.DateMeeting.ToString("dd/MM/yyyy hh:mm"))"/>
                <TemplateColumn Title="Stato" TGridItem="BookingResponseDto">
                  <FluentBadge Appearance=@(context.Status == BookingStatus.Pending ? Appearance.Neutral : Appearance.Accent) Circular="true">@(context.Status.ToString())</FluentBadge>
                </TemplateColumn>
              </GridColumns>
            </PagedDataGrid>
            
          </FluentTab>
          <div slot="end">
            <FluentButton IconStart="new Icons.Regular.Size20.DocumentArrowDown()" OnClick="DownloadReport">Stampa Report</FluentButton>
          </div>
        </FluentTabs>
      </FluentCard>
    </FluentStack>
    
  </FluentGridItem>
  <FluentGridItem xs="12" sm="12" md="4">
    <DetailsCard IsLoading="_isDetailsCardLoading"
                 TopSection="_detailsCardTopSection"
                 BottomSection="_detailsCardBottomSection">
      <Actions>
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="5">
          <FluentLabel Typo="Typography.H5">Azioni</FluentLabel>
          @if (_loadedItem is ListingResponseDto listing)
          {
            <FluentGrid Spacing="1" Style="width: 100%;">
              <FluentGridItem xs="12">
                <FluentButton Style="width: 100%;" IconStart="new Icons.Regular.Size20.Play()" 
                              OnClick="@(() => { Navigation.NavigateTo($"View/{listing.Id}/"); })">
                  Visualizza
                </FluentButton>
              </FluentGridItem>
              <FluentGridItem xs="12">
                <FluentButton Style="width: 100%;" Disabled="!listing.Available" Appearance="Appearance.Accent" IconStart="new Icons.Regular.Size20.Edit()"
                              OnClick="@(() => { Navigation.NavigateTo($"/listing/update/{listing.Id}/"); })">
                  Modifica
                </FluentButton>
              </FluentGridItem>
              <FluentGridItem xs="6">
                <FluentButton Style="width: 100%;" IconStart="new Icons.Regular.Size20.DocumentArrowDown()">
                </FluentButton>
              </FluentGridItem>
              <FluentGridItem xs="6">
                <FluentButton Style="width: 100%;" IconStart="new Icons.Regular.Size20.Share()">
                </FluentButton>
              </FluentGridItem>
            </FluentGrid>
          } else if (_loadedItem is OfferResponseDto offer)
          {
            <FluentGrid Spacing="1" Style="width: 100%;">
              <FluentGridItem xs="4">
                <FluentButton Style="width: 100%;" Appearance="Appearance.Accent" IconStart="new Icons.Regular.Size20.Checkmark()"
                              OnClick="@(() => HandleOfferAction(offer.Id, true))">
                  Accetta
                </FluentButton>
              </FluentGridItem>
              <FluentGridItem xs="4">
                <FluentButton Style="width: 100%;" Appearance="Appearance.Accent" IconStart="new Icons.Regular.Size20.Dismiss()"
                              OnClick="@(() => HandleOfferAction(offer.Id, false))">
                  Rifiuta
                </FluentButton>
              </FluentGridItem>
              <FluentGridItem xs="4">
                <FluentButton Style="width: 100%;" Appearance="Appearance.Accent" IconStart="new Icons.Regular.Size20.Edit()"
                              OnClick="@(() => { Navigation.NavigateTo($"/listing/create/{offer.Id}/"); })">
                  Contro-Offerta
                </FluentButton>
              </FluentGridItem>
            </FluentGrid>
          } else if (_loadedItem is BookingResponseDto booking && booking.Status == BookingStatus.Pending)
          {
            <FluentGrid Spacing="1" Style="width: 100%;">
              <FluentGridItem xs="6">
                <FluentButton Style="width: 100%;" Appearance="Appearance.Accent" IconStart="new Icons.Regular.Size20.Checkmark()"
                              OnClick="@(() => HandleBookingAction(booking.Id, true))">
                  Accetta
                </FluentButton>
              </FluentGridItem>
              <FluentGridItem xs="6">
                <FluentButton Style="width: 100%;" Appearance="Appearance.Accent" IconStart="new Icons.Regular.Size20.Dismiss()"
                              OnClick="@(() => HandleBookingAction(booking.Id, false))">
                  Rifiuta
                </FluentButton>
              </FluentGridItem>
            </FluentGrid>
          }
        </FluentStack>
      </Actions>
    </DetailsCard>
  </FluentGridItem>
</FluentGrid>

@code {

  private IJSObjectReference? _jsModule;
  private PagedDataGrid<ListingResponseDto> _listingGrid;
  private PagedDataGrid<OfferResponseDto> _offerGrid;
  private PagedDataGrid<BookingResponseDto> _bookingGrid;
  ListingFilterDto? _filters;

  OfferFilterDto? _offerFilters;

  BookingFilterDto? _bookingFilters;

  private ListingAgentCountersResponseDto? _listingCounters;
  private OfferAgentCountersResponseDto? _offersCounters;
  private BookingAgentCountersResponseDto? _bookingCounters;

  private bool _isDetailsCardLoading;
  private Dictionary<string, string>? _detailsCardTopSection;
  private Dictionary<string, string>? _detailsCardBottomSection;
  private object? _loadedItem;
  
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
      if (!firstRender) return;
      _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Dashboard.js");
      
      var user = await AuthStateProvider.GetAuthenticationStateAsync();
      var userId = user.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
      if (userId != null)
      { 
        _filters = new() { AgentId = Guid.Parse(userId) }; 
        _bookingFilters = new() { AgentId = Guid.Parse(userId) };
        _offerFilters = new() { AgentId = Guid.Parse(userId) };
      }
      
      _listingCounters = await ListingApiService.GetListingAgentCountersAsync(_filters.AgentId);
      _offersCounters = await OfferApiService.GetOffersAgentCountersAsync(_filters.AgentId);
      _bookingCounters = await BookingApiService.GetBookingsAgentCountersAsync(_filters.AgentId);

      await _listingGrid.LoadData(1, 10);
      await _offerGrid.LoadData(1, 10);
      await _bookingGrid.LoadData(1, 10);
      StateHasChanged();
  }

  private async Task<PagedResponseDto<ListingResponseDto>> GetListingData(int? pageNumber, int? pageSize)
  {
    return _filters == null ? new PagedResponseDto<ListingResponseDto>() : await ListingApiService.GetListingsByAgentIdAsync(_filters, pageNumber, pageSize);
  }

  private void OnListingRowClick(ListingResponseDto listing)
  {
    _isDetailsCardLoading = true;
    _detailsCardTopSection = new Dictionary<string, string>()
    {
      { "Nome", listing.Name },
      { "Città", listing.City },
      { "Indirizzo", listing.Address },
      { "Tipologia", listing.Type.Name },
      { "Prezzo", listing.Price.ToString("C", new CultureInfo("it-IT")) },
      { "Disponibilità", listing.Available ? "Disponibile" : "Occupata" },
      { "Servizi disponibili", listing.Services.Count().ToString() }
    };
    _detailsCardBottomSection = new Dictionary<string, string>()
    {
      { "Visualizzazioni", "350" },
      { "Preferiti", "123" },
      { "Offerenti", "75" },
      { "Offerte", "24" },
      { "Prenotazioni", "17" }
    };

    _loadedItem = listing;
    _isDetailsCardLoading = false;
  }
  
  
  private async Task<PagedResponseDto<OfferResponseDto>> GetOfferData(int? pageNumber, int? pageSize)
  {
    return _offerFilters == null ? new PagedResponseDto<OfferResponseDto>() : await OfferApiService.GetOffersByAgentIdAsync(_offerFilters, pageNumber, pageSize);
  }
  
  private void OnOfferRowClick(OfferResponseDto offer)
  {
    _isDetailsCardLoading = true;
    _detailsCardTopSection = new Dictionary<string, string>()
    {
      { "Cliente", offer.CustomerName + " " + offer.CustomerLastName },
      { "Contatto", offer.CustomerEmail },
      { "Immobile", offer.ListingName },
      { "Data", offer.Date.ToString("dd/MM/yyyy") },
      { "Valore", offer.Value.ToString("C", new CultureInfo("it-IT")) },
      { "Stato", offer.Status.ToString() }
    };

    _detailsCardBottomSection = new Dictionary<string, string>();
    _loadedItem = offer;
    _isDetailsCardLoading = false;
  }
  
  private async Task<PagedResponseDto<BookingResponseDto>> GetBookingData(int? pageNumber, int? pageSize)
  {
    return _bookingFilters == null ? new PagedResponseDto<BookingResponseDto>() : await BookingApiService.GetBookingsByAgentIdAsync(_bookingFilters, pageNumber, pageSize);
  }
  
  private void OnBookingrRowClick(BookingResponseDto booking)
  {
    _isDetailsCardLoading = true;
    _detailsCardTopSection = new Dictionary<string, string>()
    {
      { "Cliente", booking.CustomerName + " " + booking.CustomerLastName },
      { "Contatto", booking.CustomerEmail },
      { "Immobile", booking.ListingName },
      { "Data", booking.DateMeeting.ToString("dd/MM/yyyy hh:mm") },
      { "Stato", booking.Status.ToString() }
    };

    _detailsCardBottomSection = new Dictionary<string, string>();
    _loadedItem = booking;
    _isDetailsCardLoading = false;
  }

  private async Task HandleOfferAction(Guid offerId, bool accept)
  {
    await OfferApiService.AcceptOrRejectOfferAsync(offerId, accept);
    _offersCounters = await OfferApiService.GetOffersAgentCountersAsync(_filters.AgentId);
    _detailsCardTopSection = null;
    await _offerGrid.LoadData(1,10);
    await _listingGrid.LoadData(1, 10);
    await _bookingGrid.LoadData(1, 10);
    StateHasChanged();
  }
  
  private async Task HandleBookingAction(Guid bookingId, bool accept)
  {
    await BookingApiService.AcceptOrRejectBookingAsync(bookingId, accept);
    _bookingCounters = await BookingApiService.GetBookingsAgentCountersAsync(_filters.AgentId);
    _detailsCardTopSection = null;
    await _offerGrid.LoadData(1,10);
    await _listingGrid.LoadData(1, 10);
    await _bookingGrid.LoadData(1, 10);
    StateHasChanged();
  }

  private async Task DownloadReport()
  {
    var file = await ListingApiService.GetReportAsync(_filters.AgentId);
    var fileName = "Report.xlsx";
    await _jsModule.InvokeVoidAsync("downloadFileFromStream", fileName, file);

  }
}