@page "/"
@using System.Globalization
@using WebAssemblyClient.ApiService
@using WebAssemblyClient.Components.Dialogs
@inject ListingApiService ListingApiService
@inject NavigationManager Navigator
@inject IJSRuntime JsRuntime
@inject IDialogService DialogService
@implements IAsyncDisposable


<PageTitle>Home</PageTitle>

<FluentGrid Spacing="2" Style="margin: 1rem 3rem;">
    <FluentGridItem xs="12" md="8">
        <FluentGrid Spacing="0">
            <FluentGridItem xs="6" md="8">
                <FluentSearch Placeholder="Cerca indirizzo..."
                              @bind-Value="_searchAddress"
                              @onkeyup="@HandleKeyUp"
                              Style="width: 100%;"/>
            </FluentGridItem>
            <FluentGridItem xs="3" md="2">
                <FluentButton Appearance="Appearance.Accent"
                              OnClick="@OpenListingFilterDialogAsync"
                              IconStart="@(new Icons.Regular.Size20.Filter())"
                              Style="width: 100%">
                    Filtri
                </FluentButton>
            </FluentGridItem>
            <FluentGridItem xs="3" md="2">
                <FluentButton Appearance="Appearance.Accent"
                              OnClick="@SearchAddress"
                              IconStart="@(new Icons.Regular.Size20.Search())"
                              Style="width: 100%">
                    Cerca
                </FluentButton>
            </FluentGridItem>
        </FluentGrid>
    </FluentGridItem>
    <FluentGridItem xs="12" md="8">
        <div id="map" style="height: 500px; width: 100% ;border-color: black; border-width: 3px; border-radius: 10px"></div>
    </FluentGridItem>
    <FluentGridItem xs="12" md="4">
        <div style="height: 500px; display: flex; flex-direction: column;">
            <div style="flex-grow: 1; overflow-y: auto; padding-right: 8px; margin-bottom: 10px;">
                <FluentStack Orientation="Orientation.Vertical">
                    @if (_listings == null)
                    {
                        <FluentCard>
                            <FluentSkeleton Shape="SkeletonShape.Rect" Width="100%" Height="300px"></FluentSkeleton>
                        </FluentCard>
                        <FluentCard>
                            <FluentSkeleton Shape="SkeletonShape.Rect" Width="100%" Height="300px"></FluentSkeleton>
                        </FluentCard>
                    } 
                    else if (!_listings.Items.Any())
                    {
                        <FluentMessageBar Intent="@MessageIntent.Info" AllowDismiss="false">
                            Non ci sono immobili corrispondenti ai criteri di ricerca selezionati.
                        </FluentMessageBar>
                    }
                    else
                    {
                        @foreach (var listing in _listings.Items)
                        {
                            <FluentCard @onclick="@(() => Navigator.NavigateTo($"View/{listing.Id}"))" Style="cursor: pointer">
                                <FluentStack Orientation="Orientation.Vertical">
                                    <img src="@listing.FeaturedImage" alt="ListingImage" class="rounded-lg" style="object-fit: cover" width="100%">
                                    <FluentStack Orientation="Orientation.Vertical" VerticalGap="5">
                                        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                                            @foreach (var tag in listing.Tags)
                                            {
                                                <FluentBadge BackgroundColor="black" Circular="true">@tag.Name</FluentBadge>
                                            }
                                        </FluentStack>
                                        <FluentLabel Typo="Typography.H4">@listing.Name</FluentLabel>
                                        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
                                            <FluentLabel Typo="Typography.Body">@listing.Address</FluentLabel>
                                            <FluentBadge BackgroundColor="black" Circular="true">@listing.Price.ToString("C", new CultureInfo("it-IT"))</FluentBadge>
                                        </FluentStack>
                                    </FluentStack>

                                    <FluentDivider Style="width: 100%; color: black"></FluentDivider>

                                    <FluentStack Orientation="Orientation.Horizontal">
                                        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="0">
                                            <FluentIcon Value="@(new Icons.Regular.Size24.ArrowMaximize())" Color="Color.Neutral"/>
                                            <FluentLabel> @listing.Dimensions Mq</FluentLabel>
                                        </FluentStack>

                                        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="0">
                                            <FluentIcon Value="@(new Icons.Regular.Size24.Flash())" Color="Color.Neutral"/>
                                            <FluentLabel> @listing.EnergyClass </FluentLabel>
                                        </FluentStack>

                                        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="0">
                                            <FluentIcon Value="@(new Icons.Regular.Size24.Door())" Color="Color.Neutral"/>
                                            <FluentLabel> @listing.Rooms stanze</FluentLabel>
                                        </FluentStack>
                                    </FluentStack>
                                </FluentStack>
                            </FluentCard>
                        }
                    }
                </FluentStack>
            </div>
            
            <FluentStack Orientation="Orientation.Horizontal">
            @if (_listings != null)
            {
                @for (var pageIndex = 1; pageIndex <= _listings.TotalPages; pageIndex++)
                {
                    var capturedIndex = pageIndex;
                    <FluentButton @onclick="@(() => GoToPageAsync(capturedIndex))"
                                  Appearance="@PageButtonAppearance(capturedIndex)">
                        @(capturedIndex)
                    </FluentButton>
                }
            }
            </FluentStack>
        </div>
    </FluentGridItem>
</FluentGrid>


@code{

    private PagedResponseDto<ListingResponseDto>? _listings;
    private IJSObjectReference? _jsModule;
    private string _searchAddress = "";
    private const int PageSize = 10;
    private double _lat = 41.9028;
    private double _lon = 12.4964;
    private readonly ListingFilterDto _filters = new();
    
    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Home.js");
            
            var location = await _jsModule.InvokeAsync<double[]?>("getUserLocation");
            if (location != null)
            {
                _lat = location[0];
                _lon = location[1];
            }
            _filters.Latitude = _lat;
            _filters.Longitude = _lon;            
            
            _listings = await ListingApiService.GetListingsByAgentIdAsync(_filters,1, PageSize);
            StateHasChanged();
            
            await _jsModule.InvokeVoidAsync("setupMap", "map", _lat, _lon);
            
             if (_listings != null)
                 foreach (var listing in _listings.Items)
                     await _jsModule.InvokeVoidAsync("addMarker", "map", listing.Latitude, listing.Longitude, listing.Name, listing.Id);
        }
    }
    
    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SearchAddress();
        }
    }
    
    private async Task SearchAddress()
    {
        if (!string.IsNullOrWhiteSpace(_searchAddress))
        {
            var location = await _jsModule.InvokeAsync<double[]?>("searchAddress", _searchAddress);
            if (location != null)
            {
                _lat = location[0];
                _lon = location[1];
            }
            _filters.Latitude = _lat;
            _filters.Longitude = _lon;            
            
            _listings = await ListingApiService.GetListingsByAgentIdAsync(_filters,1, PageSize);
            StateHasChanged();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsModule is not null)
        {
            try 
            {
                await _jsModule.DisposeAsync();
            } catch (JSDisconnectedException) 
            {
                
            }
        }
    }
    
    private async Task OpenListingFilterDialogAsync()
    {
        DialogParameters registerParameters = new() {
            Title = "Filtri",
            TitleTypo = Typography.H2,
            Width = "500px",
            PreventScroll = true
        };
        
        IDialogReference filterDialog = await DialogService.ShowDialogAsync<ListingFilterDialog>(_filters, registerParameters);
        DialogResult filterResult = await filterDialog.Result;
        
        if (filterResult.Data is not null && !filterResult.Cancelled)
        {
            ListingFilterDto? filter = filterResult.Data as ListingFilterDto;
            _listings = await ListingApiService.GetListingsByAgentIdAsync(filter,1, PageSize);
            await _jsModule.InvokeVoidAsync("removeAllMarkers", "map");
             
            if (_listings != null)
                foreach (var listing in _listings.Items)
                {
                    await _jsModule.InvokeVoidAsync("addMarker", "map", listing.Latitude, listing.Longitude, listing.Name, listing.Id);
                }
            StateHasChanged();
        }
    }
    
    private async Task GoToPageAsync(int pageIndex)
    {
        if (_listings != null && _listings.PageNumber != pageIndex)
        {
            _listings = await ListingApiService.GetListingsByAgentIdAsync(_filters,pageIndex, PageSize);
            if (_listings != null)
                await _jsModule.InvokeVoidAsync("removeAllMarkers", "map");

                foreach (var listing in _listings.Items)
                {
                    await _jsModule.InvokeVoidAsync("addMarker", "map", listing.Latitude, listing.Longitude, listing.Name, listing.Id);
                }
            StateHasChanged();
        }
    }

    private Appearance PageButtonAppearance(int pageIndex)
        => _listings.PageNumber == pageIndex ? Appearance.Accent : Appearance.Neutral;
}
